<%- include('partials/header') %>

<h1 style="color:white">this route is only accessable if you are authenticated</h1>
<a href="/logout" class="btn btn-primary">Logout</a>

<%- include('partials/footer') %>
